.optionWrapper {
  position: relative;
  display: flex;
  height: 2rem;
}

.optionPart {
  position: absolute;
  padding: 1rem;
  top: 110%;
  left: 0;
  width: 220px;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.15) 0px 4px 19px 0px;
  border-radius: var(--radius);
  z-index: 3;
}

.optionPart li {
  padding: 0.5rem 0;
  border-bottom: solid 1px var(--grayfff);
  transition: all var(--transitionSpeed500ms);
  cursor: pointer;

  a {
    color: var(--gray700);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--primary);
      outline: none;
    }
  }
}

.optionPart li:nth-last-child(1) {
  padding-bottom: 0;
  border-bottom: none;
}
