.skipLink {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #007bff;
  color: var(--white);
  padding: 8px 16px;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s;
}

.skip-link:focus {
  top: 0;
  opacity: 1;
}

.visuallyHidden {
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  background-color: var(--white);
  position: relative;
  margin-top: -253px;
}

.filters {
  padding: 1rem;
  overflow-x: hidden;
}
